{% extends "base_detail.html" %}
{% block title %}{{ student }}
{% endblock %}

{% block header %} {{student}}'s existing enrollments:{% endblock%}
{% block picture %}{{ student.show_image }}{% endblock %}

{% block content %}
<p>Date registered: {{ student.date_registered}}</p>

{% block loop_iteration %}
{% for enrollment in enrollment_list %}
<li>{{ enrollment}}</li>
{% endfor %}
{% endblock %}
<p>Current enrollments:
{% if current_enrollments %}
    <ul>{% for enrollment in current_enrollments %}
    <li>{{ enrollment}}</li>
    {% endfor %}
    </ul>
{% else %}
no current enrollments for the student.
{% endif %}
</p>
{% endblock content %}





   