{% extends "base_detail.html" %}
{% block title %}{{student}}
{% endblock %}

{% block header %} {{student}}'s existing enrollments:{% endblock%}
{% block picture %}{{ student.show_image }}{% endblock %}

{% block content %}
{% if student.enrollment_set.all|length >= 1 %}
{% block loop_iteration%}
    {% for enrollment in student.enrollment_set.all %}  
    <li> {{ enrollment.date_enrolled }}</li>
    {% endfor %}
{% endblock%}

{% else %}
<p>No existing enrollments for this student.</p>
{% endif %}
{% endblock content %}





   