{% extends "base_detail.html" %}
{% block title %}{{student}}
{% endblock %}

{% block header %} {{student}}'s existing enrollments:{% endblock%}
{% block picture %}{{ student.show_image }}{% endblock %}

{% block content %}
{% if student.enrollment %}
<p>Nice</p>

{% block loop_iteration%}
    <u>{% for enrollment in student.enrollment_set.all %}  
    <li> {{ enrollment.date_enrolled }}</a></li>
    {% endfor %}
    </u>
{% endblock%}

{% else %}
<p>No existing enrollments for this student.</p>
{% endif %}
{% endblock content %}





   