{% extends "base_detail.html" %}
{% block title %}{{enrollment}}
{% endblock%}
{% block header %}Enrollment information:
{% endblock%}

{% block content %}
{% if enrollment %}
<p>Student: {{enrollment.student}}</p>
<p>Date enrolled: {{ enrollment.date_enrolled}}</p>
<p>Course: {{ enrollment.course }}</p>
<p>Number of lessons left: {{enrollment.lessons}}</p>
<p>Money paid: {{enrollment.money_paid}}</p>

{% else %}
<p>No existing enrollments with given ID</p>
{% endif %}
{% endblock content %}

   